<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <aside class="main-sidebar menu-lf bg-menu-lf border-r" th:fragment="menu">

        <!-- Sidebar -->
        <div class="sidebar p-0">
            <!-- Sidebar user panel (optional) -->
            <div class="sub-menu bg-cicc" style="height: 56px; width: 100%;">

            </div>

            <div class="user-panel elevation-2 mb-3" style="height: 120px; width: 100%; ">

                <div class=" text-center ">
                    <div class="d-flex justify-content-center">
                        <img class="img" th:src=" @{/plugins/img/logoTipoFiticio.png} " alt="">

                    </div>
                    <div class="info">
                        <a href="# " class="d-block ">CICC</a>
                    </div>


                </div>

            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2 ">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview">
                        <a th:href="@{/funcionario}" class="nav-link">
                            <i class="nav-icon fas fa-house "></i>
                            <p>
                                Dashboard

                            </p>
                        </a>

                    </li>
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-database"></i>
                            <p> Cadastros
                                <i class="fa-solid fa-caret-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview ml-3 barra-l">
                            <li class="nav-item ">
                                <a th:href="@{/carrinhas/nova}" class="nav-link ">
                                    <i class="fa-solid fa-bus"></i>
                                    <p>Carrinhas</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/funcionarios/novo}" class="nav-link">
                                    <i class="fa-solid fa-user-tie"></i>
                                    <p>Funcionarios</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/encarregados/novo}" class="nav-link">
                                    <i class="fa-solid fa-person"></i>
                                    <p>Encarregados</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/avarias/nova}" class="nav-link">
                                    <i class="fa-solid fa-screwdriver-wrench"></i>
                                    <p>Avarias</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-eye"></i>
                            <p>Visualizar
                                <i class="fa-solid fa-caret-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview ml-3 barra-l">
                            <li class="nav-item ">
                                <a th:href="@{/carrinhas/listar}" class="nav-link ">
                                    <i class="fa-solid fa-bus"></i>
                                    <p>Carrinhas</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/funcionarios/listar}" class="nav-link">
                                    <i class="fa-solid fa-user-tie"></i>
                                    <p>Funcionarios</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/encarregados/listar}" class="nav-link">
                                    <i class="fa-solid fa-person"></i>
                                    <p>Encarregados</p>
                                </a>
                            </li>


                        </ul>
                    </li>
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-message"></i>
                            <p>Comunicar
                                <i class="fa-solid fa-caret-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview ml-3 barra-l">
                            <li class="nav-item ">
                                <a th:href="@{/avarias/comunicar}" class="nav-link ">
                                    <i class="fa-solid fa-screwdriver-wrench"></i>
                                    <p>Avarias</p>
                                </a>
                            </li>



                        </ul>
                    </li>

                </ul>

            </nav>


            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
</body>

</html>