<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard-Funcionario</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/dashboard.css" />
    <!-- <link rel="stylesheet" href="/webjars/bootstrap/bootstrap.min.css" /> -->
  </head>
  <body>
    <main>
      <header>Titulo</header>
      <div class="container">
        <section class="menu">
          <!--Parte superior do menu contendo o logo do cantinho do ceu-->
          <div>
            <section id="logo">
              <figure>
                <img
                  id="logo-cantinho"
                  src="../../static/img/cantinho-do-ceu-logo.jpg"
                  alt="Logo do cantinho do ceu"
                />
                <figcaption>Cantinho do ceu</figcaption>
              </figure>
              <hr />
            </section>
            <!--Botoes do menu -->
            <section>
              <ul>
                <li>
                  <figure>
                    <img src="" alt="" />
                    <figcaption
                      class="btn dropdown-toggle"
                      data-toggle="collapse"
                      data-target="TOADD"
                    >
                      Dasboard
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <figcaption
                      class="btn dropdown-toggle"
                      data-toggle="collapse"
                      data-target="#lista-cadastro"
                    >
                      <img
                        src="../../static/img/plus-circle.svg"
                        alt="plus-icon"
                      />
                      Cadastros
                    </figcaption>
                    <ul id="lista-cadastro" class="collapse">
                      <li>
                        <input type="radio" name="cadastro" id="carinha" />
                        <label for="carinha">Carinhas</label>
                      </li>
                      <li>
                        <input type="radio" name="cadastro" id="motorista" />
                        <label for="motorista">Motoristas</label>
                      </li>
                      <li>
                        <input type="radio" name="cadastro" id="rotas" />
                        <label for="rotas">Rotas</label>
                      </li>
                      <li>
                        <input type="radio" name="cadastro" id="secretarias" />
                        <label for="secretarias">Secretarias</label>
                      </li>
                    </ul>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="" alt="" />
                    <figcaption
                      class="btn dropdown-toggle"
                      data-toggle="collapse"
                      data-target="TOADD"
                    >
                      Listar
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="" alt="" />
                    <figcaption
                      class="btn dropdown-toggle"
                      data-toggle="collapse"
                      data-target="TOADD"
                    >
                      Alocacoes
                    </figcaption>
                  </figure>
                </li>
              </ul>
            </section>
          </div>
          <!--Area do dashboard-->
        </section>
        <section class="dashboard">
          <div class="area-dashboard">
            <section class="cabecalho">
              <figure>
                <img src="" alt="Tintas" />
                <figcaption>Dashboard</figcaption>
              </figure>
              <figure>
                <img src="" alt="calendario" />
                <figcaption>DATA ACTUAL</figcaption>
              </figure>
            </section>
            <section class="links-butoes">
              <a href="" class="btn btn-primary">
                <h2 class="nome-butao">Funcionarios</h2>
                <figure>
                  <img src="" alt="Imagem de um doutor" />
                  <figcaption>
                    <h2 id="dado">Numero</h2>
                    <h3 id="dado">Cadastrados!</h3>
                  </figcaption>
                </figure>
              </a>
              <a href="" class="btn btn-primary">
                <h2 class="nome-butao">Rotas</h2>
                <figure>
                  <img src="" alt="imagem de seta dupla para direita" />
                  <figcaption>
                    <h2 id="dado">Numero</h2>
                    <h3 id="dado">Cadastrados!</h3>
                  </figcaption>
                </figure>
              </a>
              <a href="" class="btn btn-primary">
                <h2 class="nome-butao">Utilizadores</h2>
                <figure>
                  <img src="" alt="Utilizadores" />
                  <figcaption>
                    <h2 id="dado">Numero</h2>
                    <h3 id="dado">Cadastradas!</h3>
                  </figcaption>
                </figure>
              </a>
              <a href="" class="btn btn-primary">
                <h2 class="nome-butao">Carinhas</h2>
                <figure>
                  <img src="" alt="Imagem de um autocarro" />
                  <figcaption>
                    <h2 id="dado">Numero</h2>
                    <h3 id="dado">Cadastradas!</h3>
                  </figcaption>
                </figure>
              </a>
              <a href="" class="btn btn-primary">
                <h2 class="nome-butao">Carinhas</h2>
                <figure>
                  <img src="" alt="Imagem de um autocarro" />
                  <figcaption>
                    <h2 id="dado">Numero</h2>
                    <h3 id="dado">Avariadas!</h3>
                  </figcaption>
                </figure>
              </a>
              <a href="" class="btn btn-primary">
                <h2 class="nome-butao">Alunos</h2>
                <figure>
                  <img src="" alt="Um grupo de alunos" />
                  <figcaption>
                    <h2 id="dado">Numero</h2>
                    <h3 id="dado">Matriculadas!</h3>
                  </figcaption>
                </figure>
              </a>
            </section>
          </div>
        </section>
      </div>
      <footer id="rodape">
        Sistema de controlo dos transportes do centro infantil cantinho do ceu |
        2022
      </footer>
    </main>
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="../../static/js/jquery.slim.min.js"></script>
    <script src="../../static/js/bootstrap.bundle.js"></script>
  </body>
</html>
