<html layout:decorate="~{layout}">

<head>
<meta charset="UTF-8">
<title>Home</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed">

	<!--Inicio da arrea de conteudo (inicio de content-wrapper)-->
	<div class="content-wrapper  bg-white z-index-1" layout:fragment="body">
		<section class="content p-0">
			<div class="container-fluid  px-5">
				<div class="card mt-3 bd-1">
					<div class="card-header bg-cicc">
						<div class="float-left">
							<i class="nav-icon fas fa-tachometer-alt"></i> HOME

						</div>
						<div class="float-right"></div>
					</div>
					<div class="card-body  px-5">
						<div class="homeImgDiv">
							<img class="homeImg" th:src=" @{/plugins/img/homepage.png}" alt="">
						</div>
					</div>

				</div>

			</div>
	</div>
	</section>

	</div>
	<!--Fim do content-wrapper-->
</body>

</html>