<!DOCTYPE html>
<html layout:decorate = "~{layout}">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <main>
      <header>Titulo</header>
   
          <!--Area do dashboard-->
        <section class="dashboard" layout:fragment = "body">
          <div class="area-dashboard">
            <section class="cabecalho">
              <figure>
                <img src="" alt="Tintas" />
                <figcaption>Dashboard</figcaption>
              </figure>
              <figure>
                <img src="" alt="calendario" />
                <figcaption>DATA ACTUAL</figcaption>
              </figure>
            </section>
            <section class="links-butoes">
              <a href="" class="btn btn-primary">
                <h2 class="nome-butao">Funcionarios</h2>
                <figure>
                  <img src="" alt="Imagem de um doutor" />
                  <figcaption>
                    <h2 id="dado">Numero</h2>
                    <h3 id="dado">Cadastrados!</h3>
                  </figcaption>
                </figure>
              </a>
              <a href="" class="btn btn-primary">
                <h2 class="nome-butao">Rotas</h2>
                <figure>
                  <img src="" alt="imagem de seta dupla para direita" />
                  <figcaption>
                    <h2 id="dado">Numero</h2>
                    <h3 id="dado">Cadastrados!</h3>
                  </figcaption>
                </figure>
              </a>
              <a href="" class="btn btn-primary">
                <h2 class="nome-butao">Utilizadores</h2>
                <figure>
                  <img src="" alt="Utilizadores" />
                  <figcaption>
                    <h2 id="dado">Numero</h2>
                    <h3 id="dado">Cadastradas!</h3>
                  </figcaption>
                </figure>
              </a>
              <a href="" class="btn btn-primary">
                <h2 class="nome-butao">Carinhas</h2>
                <figure>
                  <img src="" alt="Imagem de um autocarro" />
                  <figcaption>
                    <h2 id="dado">Numero</h2>
                    <h3 id="dado">Cadastradas!</h3>
                  </figcaption>
                </figure>
              </a>
              <a href="" class="btn btn-primary">
                <h2 class="nome-butao">Carinhas</h2>
                <figure>
                  <img src="" alt="Imagem de um autocarro" />
                  <figcaption>
                    <h2 id="dado">Numero</h2>
                    <h3 id="dado">Avariadas!</h3>
                  </figcaption>
                </figure>
              </a>
              <a href="" class="btn btn-primary">
                <h2 class="nome-butao">Alunos</h2>
                <figure>
                  <img src="" alt="Um grupo de alunos" />
                  <figcaption>
                    <h2 id="dado">Numero</h2>
                    <h3 id="dado">Matriculadas!</h3>
                  </figcaption>
                </figure>
              </a>
            </section>
          </div>
        </section>
      
  </body>
</html>
