<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8" />
    <title>Carrinhas</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed">

    <!--Inicio da arrea de conteudo (inicio de content-wrapper)-->
    <div class="content-wrapper bg-white z-index-1" layout:fragment="body">
        <section class="content p-0">
            <div class="container-fluid px-5">
                <div class="card mt-3 bd-1">
                    <div class="card-header bg-cicc py-2">
                        <div class="float-left">
                            <i class="fa-solid fa-database"></i> Lista de Carrinhas
                        </div>
                        <div class="float-right"></div>
                    </div>
                    <div class="card-body">

                        <form th:action="@{/carrinhas/pesquisar}" class="form-row" method = "GET">

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Digite a matrícula" th:name = "matricula">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" id="button-addon2"><i class="fas fa-search"></i></button>
                                </div>
                            </div>

                        </form>

                        <div class="table-responsive table-responsive-md table-responsive-sm">
                            <table class="table table-striped border table-sm">
                                <thead class="bg-cicc">
                                    <tr>
                                        <!-- <th scope="col">Nr. de ordem</th> -->
                                        <th scope="col">Matrícula</th>
                                        <th scope="col">Capacidade</th>
                                        <th scope="col">Lugares ocupados</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-row" th:each = "c : ${carrinhas}">
                                        <!-- <td ></td> -->
                                        <td th:text = "${c.matricula}"></td>
                                        <td th:text = "${c.capacidade}"></td>
                                        <td th:text = "${c.lugaresOcupados}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--Fim do content-wrapper-->
    <!---wrapper-->


</body>

</html>