<html layout:decorate = "~{layout}">
  <head>
    <meta charset="UTF-8" />
    <title>Novo Motorista</title>
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">

      <!--Inicio da arrea de conteudo (inicio de content-wrapper)-->
      <div class="content-wrapper bg-white z-index-1" layout:fragment = "body">
        <section class="content p-0">
          <div class="container-fluid px-5">
            <div class="card mt-3 bd-1">
              <div class="card-header bg-cicc py-2">
                <div class="float-left">
                  <i class="fa-solid fa-database"></i> Novo Motorista
                </div>
                <div class="float-right">Espaco para a data</div>
              </div>
              <form
                th:action="@{/funcionarios/motorista/salvar}"
                th:object="${funcionario}"
                method="post"
              >
                <div class="card-body">
                  <div class="form-row">
                    <div class="form-group col-md-12 col-sm-12">
                      <label for="tipoFuncionario" class="form-label"
                        >Escolha o funcionario</label
                      >
                      <select
                        name="tipoFuncionario"
                        class="form-control"
                        required
                        th:field="*{sexo}"
                      >
                        
                        <option selected value="0">Selecione...</option>
                        <option value="Educadora">Educadora</option>
                        <option value="Motorista">Motorista</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-7 col-sm-12">
                      <label for="nome" class="form-label">Nome</label>
                      <input
                        type="text"
                        class="form-control"
                        name="nome"
                        minlength="3"
                        maxlength="200"
                        placeholder="Digite o nome"
                        required
                        th:field="*{nome}"
                      />
                    </div>
                    <div class="form-group col-md-5 col-sm-12">
                      <label for="apelido" class="form-label">Apelido</label>
                      <input
                        type="text"
                        class="form-control"
                        name="apelido"
                        minlength="3"
                        maxlength="45"
                        placeholder="Digite o apelido"
                        required=""
                        th:field="*{apelido}"
                      />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-3 col-sm-12">
                      <label for="data-nasc" class="form-label"
                        >Data de nascimento</label
                      >
                      <input
                        type="date"
                        class="form-control"
                        name="data-nasc"
                        max="2004-12-12"
                        min="1950-12-12"
                        required
                        th:field="*{dataNascimento}"
                      />
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                      <label for="sexo" class="form-label">Sexo</label>
                      <select
                        name="sexo"
                        class="form-control"
                        required
                        th:field="*{sexo}"
                      >
                        <option selected value="0">Selecione...</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                      <label for="doc-tipo" class="form-label"
                        >Tipo de documento</label
                      >
                      <select
                        name="doc-tipo"
                        class="form-control"
                        required
                        th:field="*{tipoDocumento}"
                      >
                        <option selected value="0">Selecione...</option>
                        <option value="BI">B.Identidade</option>
                        <option value="Carta de Condução">C.Conducao</option>
                        <option value="Cartão de Eleitor">C.Eleitor</option>
                        <option value="Passaporte">Passaporte</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                      <label for="doc-num" class="form-label"
                        >Numero do documento</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="doc-num"
                        placeholder="Digite o nr do documento"
                        required
                        th:field="*{nrDocumento}"
                      />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4 col-sm-12">
                      <label class="form-label" for="telef-1">Telefone</label>
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">+258</div>
                        </div>
                        <input
                          type="number"
                          class="form-control"
                          name="telef-1"
                          min="820000000"
                          max="879999999"
                          placeholder="Digite o telefone"
                          required
                          th:field="*{telefone}"
                        />
                      </div>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                      <label class="form-label" for="telef-2"
                        >Telefone Alternativo</label
                      >
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">+258</div>
                        </div>
                        <input
                          type="number"
                          class="form-control"
                          name="telef-2"
                          min="820000000"
                          max="879999999"
                          placeholder="Digite o telefone alternativo"
                          th:field="*{telefoneAlternativo}"
                        />
                      </div>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                      <label class="form-label" for="email">Email</label>
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">@</div>
                        </div>
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          placeholder="Digite o email"
                          th:field="*{email}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="residencia" class="form-label"
                        >Residencia</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="cidade,distrito,bairro,quarteirao"
                        required
                        th:field="*{residencia}"
                      />
                    </div>
                  </div>
                </div>
                <div class="card-footer py-0 bg-white">
                  <div class="float-right">
                    <div class="form-group">
                      <button class="btn btn-danger mx-3 btn-sm px-3">
                        <i class="fa-solid fa-circle-xmark mx-1"></i>Cancelar
                      </button>
                      <button class="btn bg-cicc btn-cadastro mx-3 btn-sm px-3">
                        <i class="fa-solid fa-plus mx-1"></i>Cadastrar
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
      <!--Fim do content-wrapper-->
    <!---wrapper-->

    
  </body>
</html>
